body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor{
    width: 70%;
    margin: 0 auto;
    margin-top: 4em;
    border: 1px solid gray;
    border-radius: 10px;
    transition: all 400ms linear;
    box-shadow: 2px 2px 10px #000;
    padding: 20px;
    padding-top: 0;
}



.contenedor:hover{
    transform: scale(1.1);
}

header{
    width: 100%;
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 2em;
}
